<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Recipes {% endblock %}</title>
  {% block styles %} {% endblock %}
</head>

<body>
  <div id="content">
    <h1>Recipe Book</h1>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">
      <button type="button">Login</button>
    </a>
    {% endif %}
    {% block content %} {% endblock %}
  </div>

  {% block scripts %} {% endblock %}

</body>

</html>